<section class="password-recovery">
  <div class="password-recovery__wrap">
    {% include '/assets/images/SnapID.svg' %}
    <div class="password-recovery__title">{{ title }}</div>
    <div class="password-recovery__text">{{ text }}</div>
    
    {# Если есть ключ и логин - показываем форму сброса пароля #}
    {% if request.get.key and request.get.login %}
        {{ function('do_shortcode', '[password_reset_form]') }}
    {# Иначе показываем форму запроса сброса #}
    {% else %}
        <form method="post" id="wppb-recover-password" class="wppb-user-forms">
            <p>Пожалуйста, введите ваш email.</p>
            <ul>
                <li class="wppb-form-field wppb-username-email">
                    <label for="username_email">Email</label>
                    <input class="text-input" name="username_email" type="text" id="username_email" value="" placeholder="Email" required>
                </li>
            </ul>
            <p class="form-submit">
                <input name="recover_password" type="submit" id="wppb-recover-password-button" class="submit button" value="Получить новый пароль">
                <input name="action" type="hidden" value="recover_password">
                {{ function('wp_nonce_field', 'verify_true_recovery_password', 'password_recovery_nonce_field', true, false) }}
            </p>
        </form>
    {% endif %}
  </div>
</section>