.email-confirm {
  width: 680px;
  margin: 0 auto;
  padding: 56px 124px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 16px;
  background: var(--fill-fill-surface, #fff);
  color: var(--text-text-body-default, #262626);
  @extend %body-medium;

  @media (max-width: $tablet) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.email-confirm__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // gap: 16px;
}

.email-confirm__title {
  color: var(--text-text-title-default, #1a1a1a);
  @extend %title-large;
  margin-top: 40px;
}

.email-confirm__text {
  @extend %body-medium;
  color: var(--text-text-body-default, #262626);
  margin-top: 8px;
  margin-bottom: 40px;
}

.email-confirm__link {
  width: 100%;
}
